body {
background: #0f172a;
color: white;
font-family: sans-serif;
}


#app {
max-width: 600px;
margin: auto;
padding: 20px;
}


textarea {
width: 100%;
height: 200px;
margin-top: 10px;
}


button {
width: 100%;
padding: 10px;
margin-top: 10px;
}


.male {
background: linear-gradient(135deg, #2563eb, #1e40af);
}


.female {
background: linear-gradient(135deg, #ec4899, #be185d);
}
